In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('eda_new_algorithm.csv')

In [3]:
df_1.head()

,Unnamed: 0,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
0,0,512,16,100,100,100067.262634,0.3,10.0,70.612655,512x16/u_s_hilo.0,0.0,roulette
1,1,512,16,100,100,97528.139992,0.3,10.0,69.350403,512x16/u_s_hilo.0,10.0,roulette
2,2,512,16,100,100,97065.860230,0.3,10.0,69.556734,512x16/u_s_hilo.0,20.0,roulette
3,3,512,16,100,100,96959.044921,0.3,10.0,69.240425,512x16/u_s_hilo.0,30.0,roulette
4,4,512,16,100,100,100067.262634,0.3,20.0,63.955572,512x16/u_s_hilo.0,0.0,roulette

In [6]:
df_1["exec_time"].mean()

49.02251559032143

In [9]:
df_2 = pd.read_csv('eda_new_algorithm_parallel_order.csv')
df_2["exec_time"].mean()

29.73335707355553

In [10]:
df_3 = pd.read_csv('eda_new_algorithm_parallel_order_loading_before.csv')
df_3["exec_time"].mean()

28.91976133103554